<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="static/css/people_exp.css" rel="stylesheet" type="text/css" />
</head>

<body>        
        <section class = "users-feedback">
            <h2><center><strong> Hear From Our Costumers!</strong></center></h2>
            <div class="container">
            <div class = "row">
            <div class = "col-md-4">
                <div class = "user-review">
                <p> "I have spent time in many of the world's popular wilderness locations and I would say Nepal should be proud. It is an example of man repairing the damage he has done."</p>
                <h6><center> Erik Wright</center></h6>
                <small><center> Sigtuna, Sweden</center></small>
                </div>
                <img src="image/Costumer1.jpg">
            </div>
            <div class = "col-md-4">
                <div class = "user-review">
                <p> "To me, Nepal is wondrous. It is full of ancient stories and beautiful temples, not to mention the world's most magnificent mountain range.A brief visit to Nepal started my insatiable love for Asian art."</p>
                <h6><center> Peter Donnely</center></h6>
                <small><center> New Jersey, USA</center></small>
                </div>
                <img src="image/Costumer2.jpg">
            </div>           
            <div class = "col-md-4">
                <div class = "user-review">
                <p> "A Nepali outlook, pace and philosophy had prevented us from being swamped by our problems. It was easier to take life day by day. I saw life with a different perspective."</p>
                <h6><center> Jane Wilson </center></h6>
                <small><center> Liverpool, England </center></small>
                </div>
                <img src="image/Costumer3.jpg">
            </div>
            </div>
            </div>
        </section>

        
    </body>
</html>