/* body{
    background-color:#a9d3f9;
  }
  :root{
    --black:black;
  } */
  *{
    font-family: "Nunito",sans-serif;
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-transform:capitalize;
    outline: none; 
    border:none;
    text-decoration: none;
    transition:all .4s linear;
  }
  section{
    padding:0rem 9%;
  }
  .heading{
    text-align: center;
    padding:2.5rem 0
  }
  .heading span{
    font-size:3.5 rem;
    background:white;
    color:black;
    border-radius: .5rem;
    padding: .1rem 0.5rem;
    display: inline block;
  }
  .heading span.space{
    background:none;
  }
  .packages .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    padding-left:40px;
  }
  .packages .box-container .box{
    box-shadow: 0 1rem 2rem white; 

}
.user-review
{
    text-align: centre;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
}

.users-feedback
{
    padding : 60px 0;
}

.user-review p
{
    padding: 50px 10px 10px 10px;
  }
  .packages .box-container .box img{
      width:  200px;
      height: 200px;
      object-fit: cover;
  }
  .packages .box-container .box .content{
    padding:0.1rem;
  }
  .packages .box-container .box .content h2{
    font-size:100 px;
    color:#181617;
  }
  
  .packages .box-container .box .content p{
    font-size:2 rem;
    color:#666;
    padding:0.2rem 0;
  }
  
  .packages .box-container .box .content .price{
    font-size:1.3rem;
    color:#181617;
    padding-top: 0.1rem;
    padding:0.2rem 0;
  }
  .packages .box-container .box .content .price span{
    color:#666;
    font-size:1.1rem;
    text-decoration:grey;
    padding-top: 0.1rem;
  }
  .btn{
    text-align: center;
    font-size:1 rem;
    background:orange;
    border-radius: .3rem;
    padding-top: 0.1rem;
    padding:0.2rem 0;
  }
  .checked {
    color: orange;
  }
  .price span{
     -webkit-text-decoration-line: line-through; 
     text-decoration-line: line-through; 
  }
  .book .heading2{
    text-align:center;
    font-size:2.2rem;
    color:#181617;
  }
  .book .explanation{
    font-size:1.5rem;
    text-align:center;
    color:#181617;
    padding-left:25%;
    padding-right:25%; 
  }
  .book .book_now .element1 img{
      width:  200px;
      height: 200px;
      object-fit: cover;
  }
  .book .booking{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    padding-left:20px;
  }
  .book .booking .book_now{
    box-shadow: 0 1rem 2rem whitesmoke;
    padding:25px;  
  }
  .book .booking .book_now img{ 
      width:  200px;
      height: 200px;
      object-fit: cover;
  }
  .book .booking .book_now .content  p{
    text-align: center;
    padding:1 rem;
  }
  .book .booking .book_now .content  h2{
    text-align: center;
    padding:1 rem;
  }
  .Contact .Email{
    font-size:20px;
    text-align:center;
    color:#181617;
  }
  .Contact .cont{
    text-align:center;
    padding:1rem;
  }

  .users-feedback img
  {
      width: 60px;
          height: 60px;
          border-radius: 50%;
          position: relative;
          margin: -30px 0 20px 40%;
  }
  
  
  
  
  .video_edit{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
  
  }

.header_style{
      padding: 40px 0;
  }

  *{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.back{
    width: 100%;
    height: 100vh;
    background-image:url(image/back.jpg);
    background-size: cover;
    background-position: center;
 }
.logo{
    height:100px ;
    border-radius: 50%;
    margin-left: 0px;
}
.navigationbar{
    width:300px;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo{
    width: 120px;
    cursor: pointer;
  }
.navigationbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navigationbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navigationbar ul li::after{
    content: '';
    height: 3px;
    width: 0px;
    background: blueviolet;
    position: absolute;
    top: 100%;
    left: 0%;
    transition: width 0.5s; 
 }
.navigationbar ul li:hover::after{
    width:100%;
}
.navigationbar{
    background-color: black;
    width: 100%;
    height: 6%
}
#nep{
    color: wheat;
    font-size: 9px;   
}
.content{
    width: 75%;
    position: absolute;
    bottom: 32%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    right: 13%; 
}
.content p{
  
    font-weight: bold;
}
.butt button{
    width: 180px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: black;
    color: white;
    cursor: pointer;
    height: 9%;
}
.butt{
    bottom: 0%;
    position: fixed;
    right:33%;
  
}
#form{
    background-color:white;
          width: 200px;
          height: 44px;
          border-radius: 5px;
          display:flex;
          flex-direction:row;
          align-items:center;
          right: 0%;
          position: absolute;
}
  
input {
          all: unset;
          font: 16px system-ui;
          color: black;
          height: 100%;
          width: 100%;
          padding: 6px 10px;
}
  
::placeholder {
          color:black;
          opacity: 0.7; 
}
  
svg {
          color:black;
          fill: currentColor;
          width: 24px;
          height: 24px;
          padding: 10px;
}
  
button {
          all: unset;
          cursor: pointer;
          width: 44px;
          height: 44px;
}
  
.body1 img{
    width: 100%;
    height: 627px;
    border: 10px solid white;
  }
.body2{
    margin-left: 10px;
    width:100%;
    background-size: cover;
  
}
.body2 img{
    height:200px;
    width:300px;
    border: 10px solid whitesmoke;
    
    margin-left: 65px;
  }
.conclusion{
    color:black;
    text-align: center;
    background-color:white;
    font-weight: bold;    
  }

  /* body{
    background-color:#a9d3f9;
  }
  :root{
    --black:black;
  }
  *{
    font-family: "Nunito",sans-serif;
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-transform:capitalize;
    outline: none; 
    border:none;
    text-decoration: none;
    transition:all .4s linear;
  }
  section{
    padding:0rem 9%;
  }
  .heading{
    text-align: center;
    padding:2.5rem 0
  }
  .heading span{
    font-size:3.5 rem;
    background:white;
    color:black;
    border-radius: .5rem;
    padding: .1rem 0.5rem;
    display: inline block;
  }
  .heading span.space{
    background:none;
  }
  .packages .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    padding-left:40px;
  }
  .packages .box-container .box{
    box-shadow: 0 1rem 2rem white; 
  }
  .packages .box-container .box img{
      width:  200px;
      height: 200px;
      object-fit: cover;
  }
  .packages .box-container .box .content{
    padding:0.1rem;
  }
  .packages .box-container .box .content h2{
    font-size:100 px;
    color:#181617;
  }
  
  .packages .box-container .box .content p{
    font-size:2 rem;
    color:#666;
    padding:0.2rem 0;
  }
  
  .packages .box-container .box .content .price{
    font-size:1.3rem;
    color:#181617;
    padding-top: 0.1rem;
    padding:0.2rem 0;
  }
  .packages .box-container .box .content .price span{
    color:#666;
    font-size:1.1rem;
    text-decoration:grey;
    padding-top: 0.1rem;
  }
  .btn{
    text-align: center;
    font-size:1 rem;
    background:orange;
    border-radius: .3rem;
    padding-top: 0.1rem;
    padding:0.2rem 0;
  }
  .checked {
    color: orange;
  }
  .price span{
     -webkit-text-decoration-line: line-through; 
     text-decoration-line: line-through; 
  }
  .book .heading2{
    text-align:center;
    font-size:2.2rem;
    color:#181617;
  }
  .book .explanation{
    font-size:1.5rem;
    text-align:center;
    color:#181617;
    padding-left:25%;
    padding-right:25%; 
  }
  .book .book_now .element1 img{
      width:  200px;
      height: 200px;
      object-fit: cover;
  }
  .book .booking{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    padding-left:20px;
  }
  .book .booking .book_now{
    box-shadow: 0 1rem 2rem whitesmoke;
    padding:25px;  
  }
  .book .booking .book_now img{ 
      width:  200px;
      height: 200px;
      object-fit: cover;
  }
  .book .booking .book_now .content  p{
    text-align: center;
    padding:1 rem;
  }
  .book .booking .book_now .content  h2{
    text-align: center;
    padding:1 rem;
  }
  .Contact .Email{
    font-size:20px;
    text-align:center;
    color:#181617;
  }
  .Contact .cont{
    text-align:center;
    padding:1rem;
  } */